.header {margin-bottom: 10px; text-transform: uppercase; text-align: right; color: #fff; font: bold 18px OpenSans, sans-serif; letter-spacing: .8px;}
.table .header {margin-top: 40px; padding-right: 15px; color: #000;}

.table {margin-bottom: 35px;}

.table .row {display: flex; justify-content: center; flex-direction: row; height: 39px;}
.table .cell {height: 100%; box-sizing: border-box; font: normal 19px/39px OpenSans, sans-serif;}
.table .cell.team {width: 140px;}
.table .cell.name {width: 263px;}
.table .cell.interest, .table .cell.sentiment {width: 100px; text-align: center;}
.table .cell.interest {padding-right: 7px;}
.table .cell.sentiment {padding-left: 7px;}

.table .head .row {background: linear-gradient(to right, #d05651, #b42a75);}
.table .head .cell {text-align: center; color: #fff;}
.table .head .cell.name {padding-right: 43px; overflow: hidden; text-overflow: ellipsis;}

.table .body {padding: 26px 0 26px; background: #fff;}
.table .body .row {margin-bottom: 8px;}
.table .body .cell {color: #2d334c;}
.table .body .cell.team {position: relative; padding-left: 4px; text-align: center;}
.table .body .cell.team:after {position: absolute; top: 0; right: 12px; bottom: 0; display: block; width: 10px; height: 6px; margin: auto; content: "";}
/*.table .body .row.positive .cell.team:after {background: url(../../../assets/img/arrow_up_green.png) no-repeat center center;}
.table .body .row.negative .cell.team:after {background: url(../../../assets/img/arrow_down_red.png) no-repeat center center;}*/
.table .body .cell.team span, .table .body .cell.team .country {display: inline-block; vertical-align: middle;}
.table .body .cell.team span {width: 23px; height: 12px; margin-right: 10px;}
.table .body .cell.team .country {text-transform: uppercase;}

.table .body .cell.name {font: bold 24px/37px OpenSans, sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.table .body .cell.interest, .table .body .cell.sentiment {font-size: 23px;}
.table .body .row.positive .cell.sentiment {color: #009459;}
.table .body .row.negative .cell.sentiment {color: #f05a28;}

.table .row.graphic {height: 370px; background: url(../../../../assets/img/graphic.png) no-repeat 0 0;}
