<loading-stub *ngIf="!preparedMixedEvents.length || !preparedAnnouncedEvents.length"></loading-stub>
<div class="content"
     *ngIf="
       preparedMixedEvents
       &&
       preparedAnnouncedEvents
       &&
       preparedMixedEvents.length
       &&
       preparedAnnouncedEvents.length">
  <h1>Race list</h1>
  <div class="items">
    <div class="head">
      <div class="start">Start date & time (UTC)</div>
      <div class="name">Name</div>
      <div class="end">End date & time (UTC)</div>
    </div>
    <a class="item"
       *ngFor="let event of preparedMixedEvents"
       [routerLink]="[ '/events/' + event.raceId + (event.stageIndex ? '/' + event.stageIndex : '') ]"
       [ngClass]="event.finishTimestamp > timeNow ? 'live' : 'last'"
    >
      <div class="start">
        {{ event.startTimestamp | myPreparingNumericDate }}
        <div class="label">
          <span [textContent]="currentEvents.length ? 'Live' : 'Last'"></span>
          <div class="background"></div>
        </div>
      </div>
      <div class="name">{{ event.name }}{{ event.stageIndex }}</div>
      <div class="end">{{ event.finishTimestamp | myPreparingNumericDate }}</div>
    </a>
    <div class="item next" *ngFor="let event of preparedAnnouncedEvents">
      <div class="start">
        {{ event.startTimestamp | myPreparingNumericDate }}
        <div class="label">
          <span>Next</span>
          <div class="background"></div>
        </div>
      </div>
      <div class="name">
        <span>{{ event.name }}</span>
      </div>
      <div class="end">{{ event.finishTimestamp | myPreparingNumericDate }}</div>
    </div>
  </div>
  <div class="navigation">
    <a [routerLink]="['/events/archive']">Archived races</a>
    <a [routerLink]="['/events/announcement']">Upcoming races</a>
  </div>
</div>
